.hide {
    display: none;
}

.component {
    background-color: rgb(13, 17, 23);
    border-width: 1px;
    border-style: solid;
    border-color: #30363d;
    border-radius: 6px;
}

body {
    background-color: rgb(1, 4, 9);
    color: white;
    margin: 0;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
