.items-list h1 {
    font-size: 25px;
}

.items-list p {
    font-size: 20px;
}

.items-list h2 {
    margin: 0;
    font-size: 20px;
}

.items-list ul {
    padding: 0;
}

.items-list li{
    list-style-type: none;
}

.items-list li div {
    padding: 15px;
}

.items-list li p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 8px;
}