#side-news {
    position: fixed;
    padding: 20px;
    top: calc(20vh);
    right: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(46,54,62);
    border-radius: 20px;
}
